h1{
  color:coral;
  font-sizes:40px;
  text-align: center;
  font-family: 'Times New Roman', Times, serif;
}

body{
  colors:aquamarine;
  font-sizes: 40px;
  text-align: center;
  font-family: fantasy;
  background-color:lightblue;
}